.detailedImageContainer {
    margin-top: 16px;
    margin-bottom: 48px;
}

.author {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.author img {
    border-radius: 50%;
    border: 1px solid #e7e7e7;
}

.author p {
    align-self: center;
    font-weight: 500;
}

.mainDetailedImage,
.author img {
    background-color: #e7e7e7;
    animation: backgroundPulse 1.5s infinite ease-in-out;
}

.viewsContainer {
    display: flex;
    align-items: center;
    gap: 45px;
}

.details {
    padding: 14px;
}

.views h3,
.likes h3,
.downloads h3 {
    color: #767676;
    font-weight: 400;
    font-size: 15px;
}

.numbers {
    font-weight: 450;
    font-size: 16px;
}

.description {
    margin-top: 16px;
    transition: all 0.3s ease;
}

.clamp {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.toggleButton {
    background: none;
    color: #767676;
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 0;
    margin-top: 4px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.arrowIcon {
    transition: transform 0.3s ease;
}

.arrowUp {
    transform: rotate(-180deg);
}

.moreInfo {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    row-gap: 6px;
}

.infoContainer {
    display: flex;
    align-items: center;
}

.infoIcon {
    display: flex;
    align-items: center;
    gap: 8px;
}

.infoIcon svg {
    height: 16px;
    width: 16px;
    stroke: #767676;
}

.infoText {
    color: #767676;
    font-size: 15px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 8px;
}

.tagButton {
    text-transform: capitalize;
    background: #eee;
    color: #767676;
    border-radius: 4px;
    padding: 2px 8px;
    font-size: 15px;
}

/* Modal code */

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    overflow: auto;
    z-index: 1000;
    cursor: zoom-out;
    display: block;
    flex-direction: column;
    text-align: center;
    padding: 32px 0;
    box-sizing: border-box;
}

.modalImage {
    max-width: 100vw;
    height: auto;
    object-fit: contain;
    display: inline-block;
}

@keyframes backgroundPulse {
    0% {
        background-color: #e7e7e7;
    }
    50% {
        background-color: #d0d0d0;
    }
    100% {
        background-color: #e7e7e7;
    }
}

@media (min-width: 768px) {
    .detailedImageContainer {
        padding: 15px;
        height: 100vh;
    }

    .mainDetailedImage {
        margin: 0 auto;
        max-height: 85vh;
    }

    .tags {
        margin-bottom: 120px;
    }
}
