.bodyWrapper {
    column-count: 1;
}

.photoContainer {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 48px;
    break-inside: avoid;
    position: relative;
    overflow: hidden;
    cursor: zoom-in;
}

.author {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.author img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid #e7e7e7;
}

.author p {
    align-self: center;
    font-weight: 500;
}

.imageContainer {
    position: relative;
    width: 100%;
    animation: backgroundPulse 1.5s infinite ease-in-out;
}

@keyframes backgroundPulse {
    0% {
        background-color: #e7e7e7;
    }
    50% {
        background-color: #d0d0d0;
    }
    100% {
        background-color: #e7e7e7;
    }
}

@media (min-width: 768px) {
    .bodyWrapper {
        padding: 0 20px 20px 20px;
        margin: 0 auto;
        column-count: 2;
        column-gap: 20px;
    }

    .photoContainer {
        height: 100%;
        margin-top: 0;
        margin-bottom: 16px;
    }

    .author {
        position: absolute;
        bottom: 8px;
        left: 8px;
        display: flex;
        padding: 6px 10px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 6px;
        color: white;
        opacity: 0;
        transform: translateY(10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        cursor: pointer;
        z-index: 2;
    }

    .author img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid white;
    }

    .author p {
        font-size: 14px;
        font-weight: 500;
        margin: 0;
    }

    .image {
        border-radius: 8px;
    }

    .photoContainer:hover .author {
        opacity: 1;
        transform: translateY(0);
        cursor: pointer;
    }

    .imageContainer {
        border-radius: 8px;
    }
}

@media (min-width: 992px) {
    .bodyWrapper {
        column-count: 3;
        max-width: 80vw;
    }
}
