.userImageContainer {
    break-inside: avoid;
    width: 100%;
}

.mainUserImage {
    width: 100%;
    position: relative;
}

.mainUserImage img {
    width: 100%;
    /* border-radius: 8px; */
    background-color: #e7e7e7;
}

.userAuthor {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
    align-items: center;
    cursor: pointer;
}

.userAuthor img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid #e7e7e7;
    background-color: #e7e7e7;
}

.userAuthor p {
    font-weight: 500;
    font-size: 16px;
}

@media (min-width: 768px) {
    .userAuthor {
        position: absolute;
        bottom: 5px;
        left: 15px;
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 6px 10px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 6px;
        color: white;
        opacity: 0;
        transform: translateY(10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        cursor: pointer;
        z-index: 3;
    }

    .userAuthor img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid white;
    }

    .userAuthor p {
        font-size: 14px;
        font-weight: 500;
        margin: 0;
    }

    .mainUserImage img {
        border-radius: 8px;
    }

    .mainUserImage:hover .userAuthor {
        opacity: 1;
        transform: translateY(0);
    }
}
