.header {
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid rgb(189, 189, 189);
}

.title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.title h1 {
    display: none;
}

.title img {
    height: 40px;
    width: 40px;
}

@media (min-width: 768px) {
    .title h1 {
        display: block;
    }
}
