.pageSelect {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.pageSelect p {
    font-weight: 500;
    margin: 0 1rem;
}

.prev,
.next {
    height: 40px;
    width: 40px;
    margin: 0 0.5rem;
    stroke: #767676;
}

:disabled {
    stroke: #d1d1d1;
}
