.userProfile {
    padding: 15px;
}

.userInfo img {
    border: 1px solid #e7e7e7;
    border-radius: 50%;
    margin: 1rem 0;
}

.userInfo h2 {
    font-size: 30px;
    line-height: 30px;
}

.username {
    color: #767676;
    margin-bottom: 1rem;
}

.bio {
    margin-bottom: 1.5rem;
    font-weight: 350;
}

.forHire {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.forHiteText {
    color: #007fff;
}

.icon {
    display: flex;
    gap: 5px;
}

.icon svg {
    height: 18px;
    width: 18px;
    fill: #007fff;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    gap: 8px;
}

.tagButton {
    text-transform: capitalize;
    background: #eee;
    color: #767676;
    border-radius: 4px;
    padding: 2px 8px;
    font-size: 15px;
}

.infoIcon {
    display: flex;
    align-items: center;
    gap: 5px;
}

.infoIcon svg {
    height: 18px;
    width: 18px;
    stroke: #767676;
}

.infoText {
    color: #767676;
}

.interests {
    margin-top: 2rem;
}

.userPhotos {
    border-bottom: 1px solid rgb(189, 189, 189);
}

.userPhotos p {
    padding: 15px;
    font-size: 15px;
    font-weight: 450;
}
