.skeletonMasonryGrid {
    display: flex;
    width: auto;
}

.skeletonMasonryColumn {
    background-clip: padding-box;
}

.skeletonCard {
    margin-bottom: 16px;
    break-inside: avoid;
    display: flex;
    flex-direction: column;
}

.authorSkeleton {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.authorImage {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background: #e7e7e7;
    border: 1px solid #e7e7e7;
}

.authorName {
    height: 16px;
    width: 150px;
    background: #e7e7e7;
    border-radius: 12px;
}

.skeletonPhoto {
    width: 100%;
    background: #e7e7e7;
    transition: height 0.3s ease;
}

@media (min-width: 768px) {
    .skeletonMasonryGrid {
        padding: 0 12px;
    }

    .skeletonMasonryColumn {
        margin: 0 10px;
    }

    .authorSkeleton {
        display: none;
    }

    .skeletonPhoto {
        border-radius: 8px;
    }
}

@media (min-width: 992px) {
    .skeletonMasonryGrid {
        max-width: 80vw;
        margin: 0 auto;
    }
}
